<!DOCTYPE html>
<html lang="en">

<!--
     ██ ███    ██ ██   ██ ████████ ███    ██
     ██ ████   ██ ██  ██     ██    ████   ██
     ██ ██ ██  ██ █████      ██    ██ ██  ██
██   ██ ██  ██ ██ ██  ██     ██    ██  ██ ██
 █████  ██   ████ ██   ██    ██    ██   ████

Hi there! You want to help us improve the website?
We are always happy to have more developers in the team.
Show us your ideas. Send us a message.
-->
<head>
    <link rel="stylesheet" href="{{ url_for('/style/font.css') }}">
    <link rel="stylesheet" href="{{ url_for('/style/main.css') }}">

    {% block stylesheets %}{% endblock %}

    {% include '../_partial/meta.njk' %}
    {% include '../_partial/icons.njk' %}

    <link rel="preload" href="{{ url_for('/assets/fonts/AESMinistry-Display.woff2') }}" as="font" type="font/otf" crossorigin>
    <link rel="preconnect" href="https://owncast.jnktn.tv">
    <link rel="canonical" href="https://jnktn.tv">

    <title>Jnktn{% block title %}{% endblock %}</title>

</head>

<body>
    {% include '../_partial/header.njk' %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    {% include '../_partial/footer.njk' %}

</body>

</html>
