{% extends 'includes/layout.njk' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('/style/page.css') }}">
{% endblock %}

{% if(page.title) %}
    {% block title %} > {{ page.title }}{% endblock %}
{% endif %}

{% block content %}
    <div class="content-text">
        {% if page.source == 'shows/index.md' %}
            {{ page.more }}
            {% set show_joiner = joiner('<hr />') %}
            {% for p in site.pages.toArray()|sort(attribute="title") %}
                {% if p.source.startsWith('shows/') and p.source != "shows/index.md" %}
                   {{ show_joiner() }}
                   {% include '_partial/show_card.njk' %}
                {% endif %}
            {% endfor %}

        {% elif page.source == 'team/index.md' %}
            {{ page.more }}
            {% set member_joiner = joiner('<hr />') %}
            {% for p in site.pages.toArray()|sort(attribute="streamer") %}
                {% if p.source.startsWith('team/') and p.source != "team/index.md" %}
                    {{ member_joiner() }}
                    {% include '_partial/member_card.njk' %}
                {% endif %}
            {% endfor %}

        {% else %}
            {{ page.more }}
        {% endif %}
    </div>
{% endblock %}
