<div>
    <a href="{{ url_for(p.path) }}"><h1 id="{{ p.streamer_id }}">{{ p.streamer }}</h1></a>
    {% for tag in p.tags %}
        <div class="label">{{ tag }}</div>
    {% endfor %}
    {{ p.excerpt }}
</div>
