<div class="schedule-container">
    <div class="schedule">
        <details>
            {% set sup = 'th' %}
            {% if site.data.schedule.day === 1 %} {% set sup = 'st' %} {% endif %}
            {% if site.data.schedule.day === 2 %} {% set sup = 'nd' %} {% endif %}
            {% if site.data.schedule.day === 3 %} {% set sup = 'rd' %} {% endif %}
            <summary>Schedule: {{ site.data.schedule.day }}<sup>{{ sup }}</sup> {{ site.data.schedule.month }}</summary>

            <table>
                <tr>
                    <th>Time</th>
                    <th>Show</th>
                </tr>

                {% for slot in site.data.schedule.slots %}

                {% if slot.show_id %}
                    {% for show in site.pages.toArray() %}
                        {% if show.show_id == slot.show_id %}
                            <tr>
                                <td>{{ slot.begin }} - {{ slot.end }}</td>
                                <td><a href="{{ url_for(show.path) }}">{{ show.title }}</a> {% if slot.live === true %} (LIVE) {% endif %}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                    {% else %}
                        <tr>
                            <td>{{ slot.begin }} - {{ slot.end }}</td>
                            <td><a href="{{ slot.href }}">{{ slot.title }}</a> {% if slot.live === true %} (LIVE) {% endif %}</td>
                        </tr>
                {% endif %}
                {% endfor %}
            </table>
            <p>All times in BST / UTC+1</p>
        </details>
    </div>
</div>
